@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

ul {
    display: flex;
    background-color: darkgray;
    align-items: center;
}

li {
    list-style: none;
    padding: 1em;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

a:hover {
    color: blue;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
    margin: auto;
}