@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 1em;
    padding: 0;
}

ul {

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#logo {
    font-size: 3em;
}

hr {
    border-width: 1px;
}

a:hover {
    color: gray;
}

.one {
    display: flex;
    flex-direction: column;
}