* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background-color: lightskyblue;
}

.whitespace {
    height: 1200px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.green {
    display: flex;
    background-color: lightgreen;
    width: 450px;
    height: 75px;
    margin: auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.dark-green {
    background-color: #135e30;
    border: 3px black solid;
    width: 50px;
    height: 20px;
    margin: 0;
}

.dark-green:nth-of-type(5) {
    align-self: start;
}

.h2 {
    margin: 0;
}

h2 {
    margin-left: 1em;
}

.pink {
    display: flex;
    height: 20px;
    width: 450px;
}

.pink>div {
    border: 3px black solid;
    background-color: deeppink;
    width: 5em;
    height: 20px;
    margin: 0 auto;
}

.pink>div:nth-of-type(1) {
    flex-grow: 2;
}

.pink>div:nth-of-type(2) {
    flex-grow: 1;
}

.blue {
    background-color: blue;
    border: 3px black solid;
    width: 450px;
    height: 200px;
    margin: 0 auto;
}

.smaller-heading {
    display: flex;
    margin: 0 .5em 0 1em;
    padding: 1em;
}

h3 {
    flex-grow: 1;
}

.circles {
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1em;
}

.brown {
    display: flex;
    max-width: 100%;
    margin: 1.3em;
}

.brown>div {
    width: 120px;
    height: 100px;
    background-color: saddlebrown;
    border: 3px black solid;
    margin: 0 1em;
}

.yellow {
    display: flex;
}

.yellow>div {
    border: 3px black solid;
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin: 0 1em;
    justify-content: space-evenly;
}

.orange {
    background-color: darkorange;
    width: 440px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.orange>div {
    background-color: gray;
    border: 3px solid black;
    width: 60px;
    height: 50px;
    margin: 0;
}

.orange>div:nth-child(odd) {
    height: 75px;
}

h1 {
    text-align: center;
    margin: 1em;
}