* {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    /*background-image: url("../img/3.jpeg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: #fe7f27;
}

/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');*/

table {
    padding: 0 0 25px 0;
    font-size: 20px;
}

ul, ol {
    list-style: none;
}

hr {
    border-color: yellowgreen;
}

td {
    padding: 5px;
    border: 1px solid;
}

a:link {
    color: blue;
}

a:visited {
    color: black;
}

a:hover {
    color: yellowgreen;
}

a:active {
    color: yellowgreen;
}

.box {
    width: 30%;
    margin: 0 .5em;
    float: left;
}

.four {
    clear: both;
}

.five {
    width: 1100px
}