@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body {
    background: linear-gradient(-45deg, #eed952, #e73c7e, #23a6d5);
    font-family: 'Nunito Sans', sans-serif;
}
#map, div {
    border-radius: 5px;
}
section {
    align-items: center;
}
img {
    width: 40px;
    height: 40px;
}
#map {
    height: 250px;
}
input {
    border-radius: 5px;
    border: none;
}
::-webkit-input-placeholder {
    text-align: center;
}
#alerts {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
}
#alerts:hover {
    white-space: normal;
}
.weather {
    margin: .5em 0;
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #subHead {
        margin-right: auto;
    }
}